.btn {
  color: var(--theme-color);
  padding: 1.25rem 1.75rem;
  line-height: 1;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid var(--theme-color);
  border-radius: 4px;
  background-color: transparent;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: var(--tsm);
  outline: none;
  &:hover,
  &:focus {
    background-color: var(--lightest-navy);
  }
}

@media screen and (max-width: 428px) {
  .btn {
    padding: 1em !important;
  }
}
