.contact {
  max-width: 500px;
  display: flex;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  .title {
    color: var(--light-slate);
    font-size: clamp(40px, 8vw, 50px);
    font-weight: 700;
    font-family: var(--font-calibre);
    &::before {
      content: "03";
      margin-right: 1.5rem;
      color: var(--theme-color);
    }
  }
  .text {
    color: var(--slate);
    font-size: var(--tlarge);
    line-height: 1.7;
    font-weight: 500;
    font-family: var(--font-mono);
    text-align: justify;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;

    .input,
    .textarea,
    .button {
      width: 100%;
      padding: 0.5rem;
      outline: none;
      margin-top: 1em;
      font-size: 1rem;
      font-family: var(--font-mono);
      color: #fff;
    }
  }
}

@media screen and (max-width: 428px) {
  .contact {
    align-items: flex-start;
    .text {
      font-size: 1rem;
      letter-spacing: 0;
      text-align: left;
    }
  }
}

@media screen and (max-width: 428px) {
  .contact {
    .title {
      font-size: 2rem;
    }
    .text {
      font-size: 0.9rem;
    }
  }
}
