.double {
  display: flex;
  margin-bottom: 20vh;
  margin-top: 3em;
  height: 35vw;

  .imageContainer {
    &:nth-of-type(1) {
      width: 66.66%;
    }
    &:nth-of-type(2) {
      width: 33.33%;
    }

    .stretchyWrapper {
      padding-bottom: 66%;
      position: relative;

      img {
        object-fit: cover;
      }
    }
  }

  &:nth-child(even) {
    .imageContainer {
      &:nth-of-type(1) {
        width: 33.33%;
      }
      &:nth-of-type(2) {
        width: 66.66%;
      }
    }
  }

  .body {
    font-size: 16px;
    padding: 10px;

    h3 {
      font-size: 1.2em;
      margin-bottom: 5px;
      margin-top: 0px;
      font-weight: 400;
    }

    p {
      font-size: 1em;
      margin: 0px;
      line-height: 1.5;
      &:nth-of-type(2) {
        color: rgb(101, 101, 101);
      }
    }
  }
}

.technologies {
  display: flex;
  align-items: center;
  gap: 1em;
  line-height: 2;
  flex-wrap: wrap;
}

.source {
  color: rgb(187, 187, 187);
  text-decoration: none;
  transition: 0.3s;
}

.source:hover {
  color: var(--theme-color);
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .double {
    height: 25vh;
    margin-bottom: 60vh !important;
  }
}

@media screen and (max-width: 855px) {
  .double {
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 2em !important;
    height: 100% !important;
    gap: 2em;

    .imageContainer {
      &:nth-of-type(1) {
        width: 100% !important;
      }
      &:nth-of-type(2) {
        width: 100% !important;
      }
    }

    &:nth-child(even) {
      .imageContainer {
        &:nth-of-type(1) {
          width: 100% !important;
        }
        &:nth-of-type(2) {
          width: 100% !important;
        }
      }
    }
  }
}

@media screen and (max-width: 428px) {
  .double {
    .body {
      h3 {
        font-size: 0.9rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }

  .technologies,
  .source {
    font-size: 0.8rem;
  }
}
