.body {
  font-size: 4vw;
}

.lineMask {
  overflow: hidden;
}

.lineMask p {
  margin: 0px;
  font-weight: 700;
  color: var(--light-slate);
  line-height: 1.5;
  margin-top: 0.5em;
  span {
    color: var(--theme-color);
  }
}
