.body {
  font-size: 4vw;
}

.lineMask {
  overflow: hidden;
}

.lineMask p {
  margin: 0px;
  font-weight: 700;
  color: var(--light-slate);
  line-height: 1.5;
  margin-top: 0.5em;
  span {
    color: var(--theme-color);
  }
}

.lineMask:nth-child(1) p {
  margin-top: 0;
}

@media screen and (max-width: 1024px) {
  .body {
    font-size: 5vw;
  }
}

@media screen and (max-width: 428px) {
  .body {
    font-size: 8.5vw;
  }
}
