.main {
  margin: 0 15rem;
  @media screen and (max-width: 1024px) {
    margin: 0 8rem;
  }
  @media screen and (max-width: 855px) {
    margin: 0 7rem;
  }
  @media screen and (max-width: 428px) {
    margin: 0 1em;
    margin-bottom: 2em;
  }
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-bottom: 4em;
}

.scrollUp {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  right: 20px !important;
  background-color: #010101 !important;
  border: 2px solid var(--theme-color) !important;
  font-size: 1em !important;
}

@media screen and (max-width: 1024px) {
  .scrollUp {
    right: 30px !important;
    top: 150px !important;
  }
}

@media screen and (max-width: 855px) {
  .scrollUp {
    right: 30px !important;
    top: unset !important;
  }
}

@media screen and (max-width: 428px) {
  .scrollUp {
    right: 25px !important;
    top: unset !important;
    bottom: 15px !important;
  }
}
